@using System.Data.Entity
@using MVC.Models

@model List<Sales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Sales Page</h2>
<div style="text-align:right;">
    <a href="/Sale/Add" class="btn btn-danger">Add Sale</a>
</div>
<br />
<table class="table table-bordered">
    <tr>
        <th>Sale Id</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Customer Name</th>
        <th>Product Name</th>
        <th>Sale Edit</th>
        <th>Sale Delete</th>
    </tr>
    <tbody>
        @foreach (Sales _sale in Model)
        {
            <tr>
                <td>@_sale.id</td>
                <td>@_sale.quantity</td>
                <td>@_sale.unit</td>
                <td>
                    @((_sale.Customers != null) ? _sale.Customers.ad : "")
                </td>
                <td>@((_sale.Products != null) ? _sale.Products.ad : "")</td>
                <td><a href="/Sale/Edit/@_sale.id"><img src="~/Images/edit.png" /></a></td>
                <td>
                    <a href="/Sale/Delete/@_sale.id">
                        <img src="~/Images/delete.png" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
